
body {
  width: 960px; 
  background: white; 
  color: black; 
  margin: auto; 
}

nav {
  background: white; 
  float: left; 
  width: 100%;
}

#logo {
  width: 20%;
  float: left;
  font-family: 'Lobster Two', cursive;
  font-size: 30px; 
}

#tagline {
  width: 20%;
  color: lightgray;
  }

p1 {
  color: black; 
  height: 35px; 
  width: 100%;
  text-align: left;
}

h1 {
  float: left;
  font-size: 40px; 
  font-family: 'Oswald', sans-serif;
  
}

main {
 text-align: center; 

}

ul {
  position: relative;
  width: 50%;
  margin: 0; 
  padding: 20px; 
  text-align: right; 
 /* display: inline-block; */
  float: right;

}

li {
  margin: .5px;
  border: .5px; 
  padding: .5px; 
  float: right; 
}

#rss {
  margin-left: 7px;
}

#date {
  float: left; 
  color: lightgray;
}

#lrglogo {
  float: left;
}

div {
  width: 100%;
}

#print {
  float: right; 
}

